html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
table, tbody, tfoot, thead, tr, th, td {
    vertical-align: top;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
header, nav, section, article, aside, footer {
    display: block;
}
body {
    font: 14px/20px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
}
a {
    color: #427F42;
    outline: none;
    text-decoration: underline;
}
a:hover,
a:focus {
    text-decoration: none;
}
a.no_href {
    text-decoration: none;
    border-bottom: 1px dashed #427F42;
}
a.no_href:hover,
a.no_href:focus {
    border-bottom: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {
    width: 1000px;
    margin: 0 auto;
}
#wrapper.wrapper_adaptive {
    width: auto;
}

h1 {
    margin: 0 0 18px;
    font-size: 20px;
    line-height: 22px;
}

.clr {
    clear: both;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
/*    height: 150px;*/
}

.nav_block {
    min-height: 48px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #EFEFEF; /* Old browsers */
    background: -moz-linear-gradient(top,  #feffff 0%, #f7f7f7 35%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#f7f7f7), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.nav_block_logo {
}

a.nav_block_logo_link {
    display: block;
    height: 20px;
    font-size: 24px;
    padding: 14px 16px;
    border-right: 1px solid #ccc;
    font-weight: bold;
    text-decoration: none;
    color: #AAA;
}

.nav_block_logo_link:hover {
    color: #427F42;
}

a.nav_block_logo_link {
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.nav_block_main_menu {
/*    display: block;
    float: left*/
}

ul.nav_block_main_menu li {
    display: block;
    float: left;
    min-width: 120px;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
}

ul.nav_block_main_menu li.nav_block_main_menu_end {
    border-left: 1px solid #fff;
    border-right: none;
    min-width: 0;
}

ul.nav_block_main_menu li a,
ul.nav_block_main_menu li.nav_block_main_menu_end span {
    display: block;
    padding: 14px 10px;
    height: 20px;
    color: #000;
/*    text-decoration: none;*/
}

ul.nav_block_main_menu li.nav_block_main_menu_end span {
    padding-left: 0;
    padding-right: 0;
}

ul.nav_block_main_menu li a:hover {
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 0%, #f7f7f7 35%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(35%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.nav_block_logo {
    display: block;
    float: left;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
/*    width: 100%;*/
    height: 1%;
    position: relative;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}
#middle:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
#container {
    width: 720px;
    float: left;
    overflow: hidden;
    padding: 10px 0;
}
#container.container_full {
    width: 100%;
}
#content {
    padding: 0 0 0 10px;
    min-height: 400px;
    overflow: auto;
}

#content ul {
    list-style: disc;
    list-style-position: inside;
}

#content.content_full {
    padding: 0 10px 0 10px;
}

.like_block {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    font-size: 14px;
    line-height: 16px;
}

.like_block_item {
    display: inline-block;
}

.pagination_control {
    text-align: center;
}

/*.pagination_control .paginator_arrow {
    text-decoration: none;
}*/

.pagination_control .paginator_page,
.pagination_control .paginator_arrow {
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #EFEFEF; /* Old browsers */
    background: -moz-linear-gradient(top,  #feffff 0%, #f7f7f7 35%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#f7f7f7), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.pagination_control a.paginator_page:hover,
.pagination_control a.paginator_arrow:hover {
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 0%, #f7f7f7 35%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(35%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */    
}

.pagination_control a.paginator_page:focus,
.pagination_control a.paginator_arrow:focus {
    border: 1px solid #427F42;
    -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow   : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    box-shadow        : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
}

.pagination_control .paginator_arrow_disabled {
    color: #CCC;
}

.pagination_control .paginator_page_active {
    color: #FFF;
    border: 1px solid #427F42;
    background: #84BA84; /* Old browsers */
    background: -moz-linear-gradient(top,  #84BA84 0%, #427F42 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84BA84), color-stop(100%,#427F42)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #84BA84 0%,#427F42 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #84BA84 0%,#427F42 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #84BA84 0%,#427F42 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #84BA84 0%,#427F42 100%); /* W3C */
}

.content_information {
    padding: 10px;
    margin-bottom: 20px;
    background: #F9FAFA;
    border: 1px solid #CCC;
    border-radius: 10px;
}

.blog_item_datetime_block {
    margin-bottom: 40px;
}

.blog_item_datetime {
    color: #aaa;
    float: right;
}

.blog_item_text p {
    margin: 0;
}

.blog_item_show_link {
    float: right;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #EFEFEF; /* Old browsers */
    background: -moz-linear-gradient(top,  #feffff 0%, #f7f7f7 35%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#f7f7f7), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.blog_item_show_link:hover {
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 0%, #f7f7f7 35%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(35%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */    
}

.blog_item_show_link:focus {
    border: 1px solid #427F42;
    -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow   : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    box-shadow        : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
}

.blog_item_datetime_show_block {
    margin-bottom: 20px;
}

.blog_item_datetime_show {
    color: #aaa;
}

input, textarea {
    font: 14px/20px Arial, Tahoma, Verdana, sans-serif;
}

.middle_form .form_row {
    margin-bottom: 10px;
}

.middle_form .form_row label {
    display: block;
}

.middle_form .form_row label > span {
    display: block;
}

.middle_form input[type=text],
.middle_form input[type=password],
.middle_form input[type=submit],
.middle_form textarea,
.filter_form input[type=text],
.filter_form input[type=submit],
.filter_form textarea {
    padding: 6px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #000;
}

.middle_form input[type=text]:focus,
.middle_form input[type=password]:focus,
.middle_form input[type=submit]:focus,
.middle_form textarea:focus,
.filter_form input[type=text]:focus,
.filter_form input[type=submit]:focus,
.filter_form textarea:focus {
    border: 1px solid #427F42;
    -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow   : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    box-shadow        : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
}

.middle_form input[type=text],
.middle_form input[type=password],
.middle_form textarea {
    width: 680px;
}

.middle_form input[type=submit],
.filter_form input[type=submit] {
    width: auto;
    border-radius: 6px;
    cursor: pointer;
    background: #EFEFEF; /* Old browsers */
    background: -moz-linear-gradient(top,  #feffff 0%, #f7f7f7 35%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#f7f7f7), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.middle_form input[type=submit]:hover,
.filter_form input[type=submit]:hover {
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 0%, #f7f7f7 35%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(35%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ededed 0%,#f7f7f7 35%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/*.middle_form input[type=submit]:active,
.filter_form input[type=submit]:active {
    border: 1px solid #427F42;
    -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow   : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    box-shadow        : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
}*/

.middle_form input::-webkit-input-placeholder { color: #cccccc; }
.middle_form input:-moz-placeholder { color: #cccccc; }
.middle_form input:-ms-input-placeholder { color: #cccccc; }

table.contacts_info_table {
    margin: 10px 0 0 0;
    width: 100%;
}

table.middle_align_table tr td,
table.middle_align_table tr td img {
    vertical-align: middle;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
    float: right;
    width: 230px;
/*    margin-left: -100%;*/
    position: relative;
    background: #F9FAFA;
    border: 1px solid #ccc;
    border-right: none;
    border-top: none;
    padding: 10px 10px;
    border-radius: 0 0 0 10px;
}

.filter_form {
    
}

.filter_form_element_item {
    margin-bottom: 6px;
}

.filter_form_element_select {
    width: 230px;
}

/*.filter_form_submit {
    float: right;
}*/

/*.filter_form input.filter_form_submit[type=submit] {
    border: 1px solid #74A574;
    background-color: #94D094;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AAEDAA', endColorstr='#84BA84', GradientType=0 );  
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #AAEDAA), color-stop(90%, #84BA84));
    background-image: -webkit-linear-gradient(top, #AAEDAA 20%, #84BA84 90%);
    background-image: -moz-linear-gradient(top, #AAEDAA 20%, #84BA84 90%);
    background-image: -o-linear-gradient(top, #AAEDAA 20%, #84BA84 90%);
    background-image: linear-gradient(#AAEDAA 20%, #84BA84 90%);
}

.filter_form input.filter_form_submit[type=submit]:hover {
    background-color: #84BA84;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84BA84', endColorstr='#AAEDAA', GradientType=0 );  
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #84BA84), color-stop(90%, #AAEDAA));
    background-image: -webkit-linear-gradient(top, #84BA84 20%, #AAEDAA 90%);
    background-image: -moz-linear-gradient(top, #84BA84 20%, #AAEDAA 90%);
    background-image: -o-linear-gradient(top, #84BA84 20%, #AAEDAA 90%);
    background-image: linear-gradient(#84BA84 20%, #AAEDAA 90%);
}*/

a.filter_form_cancel_link {
    color: #000;
    display: inline-block;
    padding: 6px;
    float: right;
}

/* Goto top */
.goto_top_block {
    display: block;
    width: 230px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
/*    bottom: 70px;*/
    text-align: right;
}

.goto_top_block a {
    color: #aaa;
}

.goto_top_block:hover a {
    color: #427F42;
    text-decoration: none;
}

.goto_top_block .goto_top_imglink {
    text-decoration: none;
}

.goto_top_block .goto_top_img {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../images/arrow_up.png');
    background-position: -24px;
    background-repeat: no-repeat;
}

.goto_top_block:hover .goto_top_img {
    background-position: 0;
}

.goto_top_block .goto_top_link_container {
    display: inline-block;
    text-align: center;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
/*    height: 100px;*/
}

.footer_block {
    min-height: 20px;
    margin-bottom: 10px;
    padding: 14px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #EFEFEF; /* Old browsers */
    background: -moz-linear-gradient(top,  #feffff 0%, #f7f7f7 35%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#f7f7f7), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #feffff 0%,#f7f7f7 35%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
